.page-header
  = link_to workouts_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_workout_path(@workout), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show workout
%dl.dl-horizontal
  %dt Name:
  %dd= @workout.name
  %dt Description:
  %dd= @workout.description
