@font-face {
  font-family: "Kaushan Script Regular";
  src: url(/assets/KaushanScript-Regular.otf) format("truetype");
}
/* line 8, /Users/raj/Documents/blog/app/assets/stylesheets/custom.scss */
.navbar-inverse .navbar-brand {
  color: #ffffff;
}

/* line 12, /Users/raj/Documents/blog/app/assets/stylesheets/custom.scss */
.navbar-brand.custom {
  font-family: "Kaushan Script Regular","Helvetica Neue",Helvetica,Arial,cursive;
  font-size: 25px;
}

/* line 17, /Users/raj/Documents/blog/app/assets/stylesheets/custom.scss */
.link-size {
  font-size: 14px;
}

/* line 21, /Users/raj/Documents/blog/app/assets/stylesheets/custom.scss */
.float_left {
  float: left;
}

/* line 25, /Users/raj/Documents/blog/app/assets/stylesheets/custom.scss */
.post_by {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #9f9f9f;
  text-transform: uppercase;
  margin-top: 5px;
  margin-left: 8px;
}

/* line 40, /Users/raj/Documents/blog/app/assets/stylesheets/custom.scss */
.post_content {
  font-family: "Open Sans", helvetica, arial, sans-serif;
  margin-top: 75px;
  margin-left: 0px;
}

/* line 45, /Users/raj/Documents/blog/app/assets/stylesheets/custom.scss */
section {
  margin-bottom: 50px;
}

/* line 72, /Users/raj/Documents/blog/app/assets/stylesheets/custom.scss */
h3 a:link {
  color: #101010;
  font-size: x-large;
  font-family: "Kaushan Script Regular";
}

/* line 73, /Users/raj/Documents/blog/app/assets/stylesheets/custom.scss */
h3 a:visited {
  color: #101010;
}

/* line 74, /Users/raj/Documents/blog/app/assets/stylesheets/custom.scss */
h3 a:hover {
  color: #CE2323;
  font-size: x-large;
  font-family: "Kaushan Script Regular";
  background-color: transparent;
  text-decoration: none;
}

/* mouse over link */
/* line 75, /Users/raj/Documents/blog/app/assets/stylesheets/custom.scss */
h3 a:active {
  color: #CE2323;
}

/* selected link */
/* line 84, /Users/raj/Documents/blog/app/assets/stylesheets/custom.scss */
.categories {
  width: 100px;
  height: 100px;
}

/* line 123, /Users/raj/Documents/blog/app/assets/stylesheets/custom.scss */
.complementary {
  font-size: 12px;
}

/* line 127, /Users/raj/Documents/blog/app/assets/stylesheets/custom.scss */
.twelve_left_margin {
  margin-left: 12px;
}

/*
	sidenav menu

*/
/* line 143, /Users/raj/Documents/blog/app/assets/stylesheets/custom.scss */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1040;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

/* line 157, /Users/raj/Documents/blog/app/assets/stylesheets/custom.scss */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* line 167, /Users/raj/Documents/blog/app/assets/stylesheets/custom.scss */
.sidenav a:hover {
  color: #f1f1f1;
}

/* line 171, /Users/raj/Documents/blog/app/assets/stylesheets/custom.scss */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  /* line 180, /Users/raj/Documents/blog/app/assets/stylesheets/custom.scss */
  .sidenav {
    padding-top: 15px;
  }

  /* line 181, /Users/raj/Documents/blog/app/assets/stylesheets/custom.scss */
  .sidenav a {
    font-size: 18px;
  }
}
/*  */
/* line 186, /Users/raj/Documents/blog/app/assets/stylesheets/custom.scss */
.white {
  color: #ffffff;
  font-family: "Kaushan Script Regular","Helvetica Neue",Helvetica,Arial,cursive;
  font-size: 35px;
}

/* line 193, /Users/raj/Documents/blog/app/assets/stylesheets/custom.scss */
.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}

/* line 203, /Users/raj/Documents/blog/app/assets/stylesheets/custom.scss */
.display_inline_block {
  display: inline-block;
}
