/* line 1, /home/raj/dev_code/blog/app/assets/stylesheets/dashboards.scss */
.wrapper_colour {
  background-color: #e6e6e6;
}

/* line 3, /home/raj/dev_code/blog/app/assets/stylesheets/dashboards.scss */
.top_margin {
  margin-top: 8px;
}

/* line 5, /home/raj/dev_code/blog/app/assets/stylesheets/dashboards.scss */
.left_info {
  background-color: none;
  padding-top: 5px;
}

/* line 7, /home/raj/dev_code/blog/app/assets/stylesheets/dashboards.scss */
.center_info, .news_feed_center_info, .news_feed_right_info, .leaderboard_center_info {
  background-color: none;
  text-align: center;
  font-size: 28px;
  padding-top: 3px;
}

/* line 9, /home/raj/dev_code/blog/app/assets/stylesheets/dashboards.scss */
.center_sub_info {
  font-size: 12px;
}

/* line 11, /home/raj/dev_code/blog/app/assets/stylesheets/dashboards.scss */
.center_footer_info, .leaderboard_center_footer_info {
  text-align: center;
  font-size: 12px;
}

/* line 13, /home/raj/dev_code/blog/app/assets/stylesheets/dashboards.scss */
.right_info {
  background-color: none;
  text-align: center;
  font-size: 28px;
  padding-top: 3px;
}

/* line 17, /home/raj/dev_code/blog/app/assets/stylesheets/dashboards.scss */
.news_feed_center_info {
  font-size: 20px;
  padding-top: 12px;
}

/* line 19, /home/raj/dev_code/blog/app/assets/stylesheets/dashboards.scss */
.news_feed_right_info {
  font-size: 18px;
  padding-top: 12px;
  text-align: left;
}

/* line 21, /home/raj/dev_code/blog/app/assets/stylesheets/dashboards.scss */
.leaderboard_center_footer_info {
  text-align: center;
}

/* line 23, /home/raj/dev_code/blog/app/assets/stylesheets/dashboards.scss */
.leaderboard_center_info {
  font-size: 14px;
  padding-top: 20px;
}
