<div class="page-header">
  <h1>Dashboards#index</h1>
</div>
<p>Find me in app/views/dashboards/index.html.erb</p>

https://www.google.co.uk/search?q=fitness+dashboard&client=ubuntu&hs=q2G&channel=fs&tbm=isch&imgil=9AG0a5yYTG6RnM%253A%253BqYl3W1rx2r9fnM%253Bhttps%25253A%25252F%25252Fdribbble.com%25252FBenzai%25252Fprojects%25252F202246-Fitness-dashboard&source=iu&pf=m&fir=9AG0a5yYTG6RnM%253A%252CqYl3W1rx2r9fnM%252C_&usg=__2XGkYpGzJ8mXC0RyFfvzVQKZj_8%3D&biw=1108&bih=813&ved=0ahUKEwjci-rWhPLQAhXJJcAKHcJYCJ4QyjcIRQ&ei=xV1QWJyVLcnLgAbCsaHwCQ#imgrc=ndDQpkZSWUBTZM%3A





https://keen.io/blog/101269629091/charts-on-grids-responsive-dashboard-templates-with