

@font-face {  
    font-family: "Kaushan Script Regular";
    src: url(/assets/KaushanScript-Regular.otf) format("truetype"); 
} 
 
.navbar-inverse .navbar-brand {
	color: #ffffff
}

.navbar-brand.custom {
	font-family: "Kaushan Script Regular","Helvetica Neue",Helvetica,Arial,cursive;
	font-size: 25px;
}

.link-size {
	font-size: 14px;
}

.float_left {
	float: left;
}

.post_by {
	font-family: "Open Sans", helvetica, arial, sans-serif;
	color: #9f9f9f;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
	margin-top:7px; margin-left:8px;
}

.post_content {	
	font-family: "Open Sans", helvetica, arial, sans-serif;
	margin-top: 75px; margin-left: 0px;
}

section {
	margin-bottom: 50px
}
// a:link {
//     color: #ffffff;
// }

// a:visited {
// 	color: #ffffff;
// }

// /* mouse over link */
// a:hover {
//     color: #ffffff;
// }

// /* selected link */
// a:active {
//     color: #ffffff;
// }

// .navbar-inverse .navbar-nav > li > a {
//     color: #ffffff;
// }

// a:link {color:#101010;}      /* unvisited link */
// a:visited {color:#101010;}  /* visited link */
h3 a:link {color:#101010; font-size:x-large; font-family: "Kaushan Script Regular" }
h3 a:visited {color:#101010}
h3 a:hover {color:#CE2323; font-size:x-large; font-family: "Kaushan Script Regular"; background-color:transparent; }  /* mouse over link */
h3 a:active {color:#CE2323;}  /* selected link */

// p {
// 	font-family: 'Open Sans', sans-serif;	
// 	font-size: 17px;
//     line-height: 26px;
//     margin-bottom: 100px;
// }
