

@font-face {  
    font-family: "Kaushan Script Regular";
    src: url(/assets/KaushanScript-Regular.otf) format("truetype"); 
} 
 
.navbar-inverse .navbar-brand {
	color: #ffffff
}

.navbar-brand.custom {
	font-family: "Kaushan Script Regular","Helvetica Neue",Helvetica,Arial,cursive;
	font-size: 25px;
}

.link-size {
	font-size: 14px;
}

.float_left {
	float: left;
}

.post_by {
	// font-family: "Open Sans", helvetica, arial, sans-serif;

  	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  	font-size: 13px;
  	line-height: 16px;


	color: #9f9f9f;
    // font-weight: bold;
    // font-size: 11px;
    text-transform: uppercase;
	margin-top:5px; margin-left:8px;
}

.post_content {	
	font-family: "Open Sans", helvetica, arial, sans-serif;
	margin-top: 75px; margin-left: 0px;
}

section {
	margin-bottom: 50px
}
// a:link {
//     color: #ffffff;
// }

// a:visited {
// 	color: #ffffff;
// }

// /* mouse over link */
// a:hover {
//     color: #ffffff;
// }

// /* selected link */
// a:active {
//     color: #ffffff;
// }

// .navbar-inverse .navbar-nav > li > a {
//     color: #ffffff;
// }

// a:link {color:#101010;}      /* unvisited link */
// a:visited {color:#101010;}  /* visited link */
h3 a:link {color:#101010; font-size:x-large; font-family: "Kaushan Script Regular" }
h3 a:visited {color:#101010}
h3 a:hover {color:#CE2323; font-size:x-large; font-family: "Kaushan Script Regular"; background-color:transparent; text-decoration:none; }  /* mouse over link */
h3 a:active {color:#CE2323;}  /* selected link */

// p {
// 	font-family: 'Open Sans', sans-serif;	
// 	font-size: 17px;
//     line-height: 26px;
//     margin-bottom: 100px;
// }

.categories{
	width:100px;
	height:100px;
}


// .select_join {
   
// width: 130px;
//    height: 28px;
//    overflow: hidden;
//    background: url('http://s24.postimg.org/lyhytocf5/dropdown.png') no-repeat right #FEFEFE;
//    border: #FEFEFE 1px solid;
// -webkit-border-radius: 3px;
// border-radius: 3px;
// -webkit-box-shadow: inset 0px 0px 10px 1px #FEFEFE;
// box-shadow: inset 0px 0px 10px 1px #FEFEFE;
//    }
// .select_join select {
  
//    background: transparent;
//    width: 170px;
//    font-size:7pt;
//    color:grey;
//    border: 0;
//    border-radius: 0;
//    height: 28px;
//    -webkit-appearance: none;
   
//    }
//    .select_join select:focus {
//     outline: none;

// }



$icon_text_size: 12px;

.complementary{
	font-size: $icon_text_size;
}

.twelve_left_margin{
	margin-left: 12px;
}






/*
	sidenav menu

*/



.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1040;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s

}

.sidenav a:hover{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*  */

.white {
	color: #ffffff;
	font-family: "Kaushan Script Regular","Helvetica Neue",Helvetica,Arial,cursive;
	font-size: 35px;
}


.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 5px solid black;
}


.display_inline_block {
  display: inline-block;
}
