.display_design { margin-bottom: 15px }

.workout_image { float:left;display:block;background-color:grey;padding:4px }

.workout_name { float:left;margin-left:15px }

.grey-background { background-color: grey }