.center_text { text-align: center}

.txt_color_grey { color: grey }

.display_design { margin-bottom: 15px }

.workout_image { float:left;display:block;background-color:grey;padding:4px }

.workout_name { float:left;margin-left:15px }

.grey-background { background-color: grey }

.user_workout_input { font-family:'Roboto';font-weight:900;font-size:70px;line-height:75px;width:80%; }

.user_workout_save { font-family:'Roboto';font-weight:900;font-size:45px;line-height:75px; }

input,
input::-webkit-input-placeholder { font-size:30px;line-height:75px; }